<!-- ////////////// FOOTER ////////////// -->
footer
	section.thanhtam-linkfooter
		.container
			.row
				.col-lg-3.col-12.text-center.text-sm-left.mb-md-2.mb-lg-4.mb-xs-3.mt-4
					h3 FULLSTACK VIETNAM
					p Mobile: (+84) 969689893
						br
						| Email: admin@fullstackvietnam.com
						br
						| Địa chỉ: 28 đường số 2 – CITY LAND – Phường 7 – Gò Vấp – HCM
				.col-lg-5.col-12.text-center.text-sm-left.mb-xs-3.my-lg-4.mt-xs-0
					h3 LINKS
					.row
						.col-sm.text-center.text-sm-left
							ul.list-unstyled
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Khóa học Design chuyên nghiệp
								li
									a(href="#") Lịch khai giảng
								li
									a(href="#") Đăng ký Khóa học
						.col-sm.text-center.text-sm-left.mb-xs-3
							ul.list-unstyled
								li
									a(href="#") Khóa học FrontEnd Master
								li
									a(href="#") Khóa học FullStack Developer
								li
									a(href="#") Khóa học Design chuyên nghiệp
								li
									a(href="#") Lịch khai giảng
								li
									a(href="#") Đăng ký Khóa học
				.col-lg-4.col-12.text-center.text-sm-left.text-lg-right.mb-sm-4.mb-xs-3.mt-lg-4.mt-xs-0
					h3.mt-sm-3 EMAIL
					.form-bot.mt-sm-0.align-self-center.text-md-left
						input(type="text", name="", placeholder="Email của bạn")
						a(href="#")
							button(type="button") GỬI
			

	section.home-form
		.container
			.row.align-items-center
				.col-md-6.text-center.text-md-left
					h4 Copyright 2018 by FullStack Vietnam
				.col-md-6.text-center.text-md-right
					ul.list-inline.icon
						a(href="#")
							li.list-inline-item
								i.fa.fa-twitter
						a(href="#")
							li.list-inline-item
								i.fa.fa-facebook
